extends layout

block content

    //- .container-fluid
    //- .row

    //- .col-lg-8.col-lg-offset-2
    //-     br
    //-     h1 NOUS CONTACTER
    //-     form(method='post', action='', role='form')
    //-         .row
    //-         .col-md-6
    //-             br
    //-             br
    //-             .form-group
    //-             label(for='form_lastname') Votre Nom *
    //-             input#form_name.form-control(type='text', name='lastname', placeholder='prénom', required='required')
    //-         .col-md-6
    //-             .form-group
    //-             label(for='form_firstname') Votre prenom *
    //-             input#form_lastname.form-control(type='text', name='firstname', placeholder='nom', required='required')
    //-         .row
    //-         .col-md-6
    //-             .form-group
    //-             label(for='form_email') Votre email *
    //-             input#form_email.form-control(type='email', name='email', placeholder='email', required='required')
    //-         .col-md-6
    //-             .form-group
    //-             label(for='form_phone') Votre téléphone
    //-             input#form_phone.form-control(type='tel', name='phone', placeholder='numéro de téléphone')
    //-         .row
    //-         .col-md-6
    //-             .form-group
    //-             label(for='form_message') Message *
    //-             textarea#form_message.form-control(name='message', placeholder='Saisir votre message...', rows='4', required='required', data-error='Please,leave us a message.')
    //-         .col-md-12.col-md-push-5
    //-             button.btn.btn-primary(type='submit') Envoyer
    //-         .row
    //-             .col-md-12
    //-             p.text-muted
    //-                 small
    //-                 strong *
    //-                 |  Champs obligatoires.