.wrapper {
    width: 800px;
    margin: 50px auto 0;
    padding: 60px 30px;
    border: 1px solid #000;
}

.wrapperTitle {
    text-transform: capitalize;
    margin: 0 0 40px;
}

.simulatorRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.simulatorRow label {
    text-transform: capitalize;
    font-weight: 700;
}

.sliderNumber {
    width: 60%;
}

.numberRange{
    font-weight: bold;
    color: blue;
    padding: 0%;
}